# Backend requirements for ECO MAP
fastapi
uvicorn
sqlalchemy
geoalchemy2
psycopg2-binary
python-dotenv
pydantic
shapely
python-jose[cryptography]  
passlib[bcrypt]          
python-multipart       
bcrypt==4.0.1